@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 254, 229);
  font-family: 'Inter', sans-serif;
}

#dark-grey-div {
  z-index: 1000;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');