@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Radley:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #242626;
  font-family: "Inter", sans-serif;
}

#dark-grey-div {
  z-index: 1000;
}

.silk-placeholder {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #7b7481, #9b8b99);
  opacity: 0.1;
}

.custom-spotlight-card,
.craft-section,
.step-card,
.get-started-section {
  opacity: 0;
  transform: translateY(50px);
}
